.body-container{
    margin-top: 2rem;
}
.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #1976d2;
    padding: 1rem;
    color: white;
}

.nav-item{
   margin-right: 1rem;
   margin-left: 1rem;
}

.nav-list-item li {
    list-style: none;
    margin-left: 2rem;
}

.nav-list-item{
   display: flex; 
}
.create-button {
    background: linear-gradient(45deg, #00aaff, #6a0dad);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  .logout-button {
    background: linear-gradient(45deg, #b12007, #d66c55);
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .logout-button:hover {
    background: linear-gradient(45deg, #d66c55, #b12007);
  }
  .create-button:hover {
    background: linear-gradient(45deg, #6a0dad, #00aaff);
  }

  
    