.profile{
    width: 50%;
    display: flex;
    justify-content: space-around;
    margin-top: 4rem;
    background-color: rgb(237, 231, 223);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2), 
    0 6px 20px rgba(0, 0, 0, 0.19);
}

.profile-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.profile-details{
    width: 300px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-container{
    margin: 0 auto;
}

.round-image{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover; 
}

.image-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.details{
    padding: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.profile-item{
    margin-bottom: 1rem;
    font-size: 2rem;
}

.spinner-container{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e0e0e0;
}

.spinner-border {
    display: inline-block;
    width: 3rem;
    height: 3rem;
    vertical-align: text-bottom;
    border: 0.25em solid rgb(0, 123, 255);
    border-right-color: transparent;
    border-radius: 50%;
    animation: spinner-border .75s linear infinite;
}

@keyframes spinner-border {
    100% {
        transform: rotate(360deg);
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}


.file-upload-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

input[type="file"] {
    display: none;
}

.file-label {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.file-label:hover {
    background-color: #0056b3;
}

.upload-button {
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.upload-button:hover {
    background-color: #218838;
}